jupyter
nbstripout
hvplot
panel
watchfiles  # dev
# https://panel.holoviz.org/how_to/editor/vscode_configure.html
jupyter_bokeh 
ipykernel 
# https://panel.holoviz.org/how_to/deployment/binder.html
# jupyter-panel-proxy
# use fork because there hasn't been a pypi release for a while, and fix icon
git+https://github.com/samdoolin/jupyter-panel-proxy.git@main
